.widget5
{
    text-align: center;
    border-radius: 1.4rem;
    background-color: #fcfcfc;
    width: 35%;
    height: 30%;
    margin-left: 20px;
    /* margin: 20px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre
{
    margin-top: 0px;
    font-weight: bold;
    /* border: solid; */
}

.cont
{
   
    display: flex;
    width: 90% ;
    height: 80%;
    margin-top: 0px;
    vertical-align: middle;
    align-items: center;
}

.today
{
    /* border:solid; */
    width: 50%;
    height: 100%;
    border-right: solid;
}

.After
{
    /* border: solid; */
    width: 50%;
    height: 100%;
}

.A
{
    margin-top: 0px;
}

.auj
{
    font-weight: bold;
    color: red;
}

.dm
{
    font-weight: bold;
    color: yellowgreen;
}